/* 
    Created on : 05-Mar-2017, 10:35:29
    Author     : Gareth
*/

.players-container {
    position: relative;
    border: 1px solid black;
    width: 100px;
}

.player,
.players-container__header {
    padding: 5px;
}

.players-container__header {
    font-weight: bold;
}

/* set colour of player row when hovered */
.player:hover {
    background: #ccffe1;
}
/* show pop up when hovering over player name */
.player:hover > .popup {
    display: block
}

.player-skill__rating {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 4px;
}

.player-skill__title {
    display: inline-block;
    width: 100px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 4px;
}

/* Popup styles, hidden by default */
.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 110px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    z-index: 10;
}

.player-details {
    width: 200px;
}

.player-details__name {
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 12px;
}

.player-skill__name {
    display: inline-block;
    width: 100px;
}

.player-skill__rank {
    display: inline-block;
    margin-left: 20px;
}