/* 
    Created on : 04-Mar-2017, 09:05:33
    Author     : Gareth Williams
*/

.players-container {
    position: relative;
}

.player__name {
    display: inline-block;
    width: 110px;
}

/* Hide game summary by default */
#game-summary {
    display: none;
    padding-top: 16px
}

#end-game-btn {
    background-color: red;
    color:white;
    border:none;
    padding: 8px;
}

#start-game-btn {
    background-color: green;
    color:white;
    border:none;
    display: none;
    padding: 8px;
}

.player__actions {
    display: inline-block;
    padding-left: 12px;
}

button {
    margin-right: 6px !important;
}

.player,
.players-container__header {
    padding: 5px;
}

.players-container__header {
    font-weight: bold;
    display: inline-block;
    width: 98px;
}

/* Colours for each of the actions displayed in the summary */
.player-goal {
    color: darkgreen;
}

.player-assist {
    color: blue;
}

.player-corner {
    color: darkgoldenrod;
}

.player-throw-in {
    color: gray;
}

.player-penalty {
    color: red;
}